.modal {
  position: fixed;
  top: 0;
  right: -100%;
  width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  z-index: 100;
  border-left: 1px solid #d9fff5;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  transition: all 0.5s;

  &--opened {
    right: 0;
  }

  &__header {
    height: 88px;
    display: flex;
    align-items: center;
    padding: 0 var(--h-indent);

    @media screen and (min-width: 768px) {
      height: 24px;
      position: relative;
    }
  }

  &__close {
    @media screen and (min-width: 768px) {
      position: absolute;
      bottom: -56px;
      left: -72px;
    }
  }

  &__title {
    padding: 0 var(--h-indent);
    position: relative;
    font-size: 24px;
    line-height: 40px;
    margin: 16px 0;

    &::before {
      content: '';
      display: block;
      height: 40px;
      width: 3px;
      background-color: $accent-1;
      border-radius: 2px;
      position: absolute;
      top: 0;
      left: -2px;
      z-index: 1;
    }
  }

  &__form {
    padding: 0 var(--h-indent);
    display: flex;
    flex-direction: column;
  }

  &__input {
    height: 48px;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    font-family: 'TT Lakes';
    padding: 0 16px;
    margin-bottom: 16px;

    &::placeholder {
      font-weight: 500;
      color: #b5b6bc;
    }
  }

  &__textarea {
    border-radius: 8px;
    border: 1px solid #eaeaea;
    font-family: 'TT Lakes';
    padding: 16px;
    margin-bottom: 16px;
    resize: none;

    &::placeholder {
      font-weight: 500;
      color: #b5b6bc;
    }
  }

  &__privacy {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #7e7e82;
  }

  &__link {
    color: $accent-2;
  }

  &__submit {
    align-self: flex-end;
  }
}
